/************************
          About
************************/
.about{
  overflow: hidden;
  background: $footerTxtColor;
  width: 100%;
  color: $aboutTxtColor;
  max-height: 690px;
  transition: 1s all ease;
}
