/************************
          About
************************/
.about{
  overflow: hidden;
  background: $footerTxtColor;
  width: 100%;
  color: $aboutTxtColor;
  max-height: 690px;

  img{
      //filter: sepia(50%);
  }
}
