/************************
      Footer
************************/
.footer{
  font-size: 1.3em;
  background: $footerBGColor;
  color: $footerTxtColor;

  .copyTxt{
    font-size: .7em;
  }
}
// .footerLinks{
//   overflow: hidden;
//   background: $footerBGColor;
//   width: 100%;
//   color: $footerTxtColor;
//   max-height: 690px;
// }
// .copy{
//   padding-top: 90px;
//   padding-bottom: 20px;
//   text-align: center;
//   overflow: hidden;
//   background: $footerBGColor;
//   width: 100%;
//   color: $footerTxtColor;
//   max-height: 200px;
// }
