/************************
          Hero
************************/
.hero{
  height: 100vh;
  background: url(../img/hero.jpg) no-repeat center center fixed;
  background-size: cover;

  .heroTitle{
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 3.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-duration: 2s;
    animation-delay: .3s;

    .slogan{
      font-size: .3em;
      color: black;
      animation-duration: 2s;
      animation-delay: 1.5s;
    }
  }
}
