/************************
          Me
************************/
body{
  height: 100vh;
  background-color: #6d6b6b;
  background: url(../img/meBG.png) no-repeat center center fixed ;
  background-size: cover;
}
