/************************
      Responsive
************************/
.col-3{
  width: 31%;
}
.col-5{
  width: 50%;
}
.col-6{
  width: 69%;
}
.textLeft{text-align: left}
/*------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------DeskTops-----------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
// @media (min-width:1050px) {
//   .about h1{
//    padding: 60px 20px 0px;
//    font-size: 4em;
//   }
//   .about p{
//    padding: 0px 20px 30px;
//    font-size: 2em;
//   }
//   .col-6.right{
//     padding-right: 7%;
//   }
//   .footerLinks{
//     padding-top: 5%;
//   }
//   .contact{
//     padding-left: 10%;
//   }
//   .social{
//     padding-left: 10%;
//   }
//   .footer{
//     h1{
//       font-size: 2.5em;
//     }
//     p, a{
//       font-size: 1.2em;
//     }
//   }
// }

@media (max-width:1020px) {
  .about h1 {
    padding: 30px 20px 0px;
    font-size: 2.4em;
    margin: 0.5em 0;
  }
  .about p{
   padding: 0px 20px 30px;
   font-size: 2em;
  }
  .col-6.right{
    padding-right: 7%;
  }
  .footerLinks{
    padding-top: 5%;
  }
  .contact{
    padding-left: 10%;
  }
  .social{
    padding-left: 10%;
  }
  .footer{
    h1{
      font-size: 2.5em;
    }
    p, a{
      font-size: 1.2em;
    }
  }
}

/*------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------General Phones-----------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  .footer{
    text-align: center;
  }
  .pic{
    float: none !important;
  }
  .col-3{
    width: 100%;
  }
  .col-6{
    width: 100%;
  }
  .col-5{
    width: 100%;
  }
  .contact{
    float: none !important;
    text-align: center;
    padding-bottom: 40px;
  }
  .social{
    float: none !important;
    text-align: center;
  }
  .copy{
    padding-top: 100px;
  }
}

/*------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------Portrait-----------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/

/* Iphone 5 to 6s Portrait */
@media only screen and (max-width: 480px) {
  .footer{
    text-align: center;
  }
  .about{
    text-align: center;

    h1{
     padding: 10px 20px 0px;
     font-size: 2em;
    }
    p{
      padding: 0px 20px 30px;
      font-size: 1.3em;
    }
  }
  .copy{
    text-align: center;
  }
  .col-3{
    width: 100%;
  }
  .col-6{
    width: 100%;
  }
  .col-5{
    width: 100%;
  }
}

/* iphone 6 to 6s Portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait){
  .footer{
    text-align: center;
  }
  .about{
    text-align: center;

    h1{
     padding: 10px 20px 0px;
     font-size: 2em;
    }
    p{
      padding: 0px 20px 30px;
      font-size: 1.5em;
    }
  }
  .copy{
    text-align: center;
  }
  .col-3{
    width: 100%;
  }
  .col-6{
    width: 100%;
  }
  .col-5{
    width: 100%;
  }
}


/* ipad / ipad mini Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
  .about{
    h1{
     padding: 10px 20px 0px;
     font-size: 1.8em;
    }
    p{
      padding: 0px 20px 30px;
      font-size: 1.2em;
    }
  }
}

/*------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------Landscape----------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/

/* ipad / ipad mini Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
  .about{
    h1{
     padding: 10px 20px 0px;
     font-size: 2.6em;
    }
    p{
      padding: 0px 20px 20px;
      font-size: 2em;
    }
  }
}

/* Iphone 6s Landscape */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape){
  .about{
    h1{
     padding: 10px 20px 0px;
     font-size: 1.8em;
    }
    p{
      padding: 0px 20px 20px;
      font-size: 1.2em;
    }
  }
  .footer{
    .social, .contact{
      text-align: center;
    }
  }
}

/* Iphone 6 Landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape){
  .about{
    h1{
     padding: 10px 20px 0px;
     font-size: 1.5em;
    }
    p{
      padding: 0px 20px 20px;
      font-size: 1em;
    }
  }
  .footer{
    .social, .contact{
      text-align: center;
    }
  }
}

/* Iphone 5s Landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape){
  .about{
    h1{
     padding: 20px 20px 0px;
     font-size: 1em;
    }
    p{
      padding: 0px 20px 20px;
      font-size: 1em;
    }
  }
  .footer{
    .social, .contact{
      text-align: center;
    }
  }
}
