extends base

block body
  section.hero
    div.heroTitle Full stack web developer.
      div.slogan  BRINGING YOUR VISION TO THE WEB
      
  section.projects
    div.row
      h1.proTitle Work.Fun.Projects
    div.row
      a(href='https://www.primexprime.com' target='_blank' alt='PrimeX')
        img.col-3.box(src='img/primex.png')
      a(href='https://www.topgearny.com' target='_blank' alt='TOPGEARNY')  
        img.col-3.box(src='img/topgearny.png')
      a(href='https://www..com' target='_blank' alt='Art')
        img.col-3.box(src='img/me.png')
    div.row
      a(href='http://lostman10002.deviantart.com/art/primexCard-592569692' target='_blank' alt='Business Cards')
        img.col-3.box(src='img/cards.png')
      a(href='/Version1' target='_blank' alt='Version1')
        img.col-3.box(src='img/old.png')
      a(href='https://github.com/RichardFelix/dogRestApi' target='_blank' alt='RestAPI')
        img.col-3.box(src='img/restapi.png')
    
  section.footer
   div.clearfix
    div.row
      img.col-3.pic(src='img/pic.png')
      span.col-6.footerText 
        h1 O yeah Hi! 
        h1 I am Richard C Felix.
        br
        br
        | I am a web developer living in New York, NY.  I love
        | meeting new people, art, 
        a(href='https://www.youtube.com/watch?v=vVYza0NiWuU' target='_blank' alt='Version1') J. Dilla
        | , learning and watching 
        a(href='http://www.syfy.com/theexpanse' target='_blank' alt='Version1') Sci-fi.
        
  section.row.footerLinks
    div.row
      div.col-5.contact
        | I am a web developer living in New York, NY.  I love
      div.col-5.social
        | I am a web developer living in New York, NY.  I love
      
