/************************
          Me
************************/
@keyframes animatedBackground{
	to{
    background-position: 100% 0;
  }
}

.me{
	height: 100vh;
	background-image: url(../img/meBG.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 5s linear infinite alternate;
}
