/************************
     Animations
************************/
#job {
  animation-duration: 1s;
  animation-delay: .5s;
}
.button{
  animation-duration: 1s;
  animation-duration: 2s;
  animation-delay: 3s;
}
