extends base

block body
  div#fullpage
    div.section#hero
      h1.name Richard C Felix
      h3.job Full Stack Web Developer
      div.button
        a(href='#aboutMe') \/
    div.section#me
      i(class="fa fa-rocket fa-5x")
    div.section#project PROJECTS
      div.slide(data-anchor="slide1") 1
      div.slide(data-anchor="slide2") 2
      div.slide(data-anchor="slide3") 3
      div.slide(data-anchor="slide4") 4
      div.slide(data-anchor="slide5") 5
      div.slide(data-anchor="slide6") 6
    div.section#email
        p contact Testting and what
        
  include script.jade
  include footer.jade
