extends base

block body
  div#fullpage
    div.section#hero
      h1.name Richard C Felix
      h3.job Full Stack Web Developer
      div.button
        a(href='#aboutMe') \/
    div.section#me
      p about
    div.section#project
      p projects
    div.section#email
        p contact
        
  include script.jade
  include footer.jade
