extends base

block body
  div(id='fullpage')
    div.section
      p Greta
    div.section
      p A yeah
    div.section
      p projects
    div.section
      p contact
        
  include script.jade
  include footer.jade
