section.about
  div.row
    img.col-3.left(src='img/pic.png')
    div.col-6.right.textLeft
      h1.hi O yeah Hi!
        br
        | I am Richard C Felix.
      br
      p I am a web developer living in New York, NY.  I love
        | meeting new people, art, 
        a(href='https://www.youtube.com/watch?v=vVYza0NiWuU' target='_blank' alt='J. Dilla') J. Dilla
        | , learning and watching 
        a(href='http://www.syfy.com/theexpanse' target='_blank' alt='Expanse') Sci-fi.
