section.about.container-fliud
  div.row.paddingTopResponsiveSm
    div.col-md-12.col-xs-12.box
      picture
        source(media='(min-width: 769px)', srcset='img/pic-lg.jpg')
        source(media='(min-width: 465px)', srcset='img/pic-md.jpg')
        img(src='img/pic-sm.jpg', alt='Picture of Me in Italy')
  
  div.row
    div.col-md-12.col-xs-12.text-center.paddingTop
      p 
        strong Oh yeah Hi!
        br
        strong I am Richard C Felix.
        br
        br
        | I am a web developer living in New York, NY.  I love
        | meeting new people, art, 
        a(href='https://www.youtube.com/watch?v=vVYza0NiWuU' target='_blank' alt='J. Dilla') J. Dilla
        | , learning and watching 
        a(href='http://www.syfy.com/theexpanse' target='_blank' alt='Expanse') Sci-fi.
