section.footer.container-fliud

  br
  
  div.row.footerLinks
    div.col-md-6.text-center
      h2 Reach Out
      p Got a project you need me to work on?   Or looking
        br
        | for a new tech buddy?   Feel free
        br
        | to email me at 
        a(href='mailto:me@richardcfelix.com' alt='Email') me@richardcfelix.com.
        
    div.col-md-6.text-center
      h2 Connect with Me 
      a(href='https://twitter.com/sonofdabeach2' target='_blank' alt='Twitter') Twitter
      br
      a(href='https://www.linkedin.com/in/richard-c-felix-13058587' target='_blank' alt='Linkedin') Linkedin
      br
      a(href='https://bitbucket.org/RichardFelix/' target='_blank' alt='Bitbucket') Bitbucket
      br
      a(href='https://github.com/RichardFelix' target='_blank' alt='Github') Github
      br
      a(href='https://www.npmjs.com/~richardcfelix' target='_blank' alt='NPM') NPM

    div.row.col-md-12.text-center.copyTxt
      br
      br 
      | &copy 2016 Richard C Felix. All Rights Reserved.
    
