section.footer
  div.row.footerLinks
    div.col-5.contact.left
      h1 REACH OUT
      p Got a project you need me to work on?   Or looking
        br
        | for a new a tech buddy?   Feel free
        br
        | to email me at 
        a(href='mailto:me@richardcfelix.com' alt='Email') me@richardcfelix.com.
    div.col-5.social.right
      h1 Connect with Me 
      a(href='https://bitbucket.org/RichardFelix/' target='_blank' alt='Bitbucket') Bitbucket
      br
      a(href='https://github.com/RichardFelix' target='_blank' alt='Github') Github
      br
      a(href='https://www.npmjs.com/~richardcfelix' target='_blank' alt='Version1') NPM
      br
      a(href='https://www.linkedin.com/in/richard-c-felix-13058587' target='_blank' alt='Version1') Linkedin
      
section.copy
  div.row 
    | &copy 2016 Richard C Felix. All Rights Reserved.
    
