section.hero

  picture
    source(media='(min-width: 769px)', srcset='img/hero-lg.jpg')
    source(media='(min-width: 465px)', srcset='img/hero-md.jpg')
    img(src='img/hero-sm.jpg', alt='Picture of MacBook Pro, skectchbook and iphone')
    
  div.animated.fadeIn.heroTitle Full stack web developer.
    div.slogan.animated.fadeIn  BRINGING YOUR VISION TO THE WEB
