section.projects
  div.row
    h1.proTitle Work.Fun.Projects
  div.row
    a(href='https://www.primexprime.com' target='_blank' alt='PrimeX')
      img.col-3.box.wow.flipInY(src='img/primex.png' data-wow-duration='1s')
    a(href='https://www.topgearny.com' target='_blank' alt='TOPGEARNY')  
      img.col-3.box.wow.flipInY(src='img/topgearny.png' data-wow-duration='1s')
    a(href='/me' target='_blank' alt='Art')
      img.col-3.box.wow.flipInY(src='img/me.png' data-wow-duration='1s')
  div.row
    a(href='http://lostman10002.deviantart.com/art/primexCard-592569692' target='_blank' alt='Business Cards')
      img.col-3.box.wow.flipInY(src='img/cards.png' data-wow-duration='1s')
    a(href='https://bitbucket.org/RichardFelix/richardcfelix_dev/' target='_blank' alt='Version1')
      img.col-3.box.wow.flipInY(src='img/old.png' data-wow-duration='1s')
    a(href='https://github.com/RichardFelix/richardcfelixSite' target='_blank' alt='My Site')
      img.col-3.box.wow.flipInY(src='img/site.png' data-wow-duration='1s')
